* {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.navbar {
  height: 60px;
  background-color: #3f51b5;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 40px;
  margin: 0;
}

.logo {
  color: white;
}

.page-container {
  margin: 20px 40px;
}

.story-item {
  margin: 20px;
  padding: 20px;
  width: 600px;
  border-radius: 5px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}