<!DOCTYPE html>
<html>
<head> 
    <title>SimpleBlog</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link href="/styles.css" rel="stylesheet">
</head>
<body>    
  <header class="navbar">
    <a class="logo" href="/PlainStories">SimpleBlog</a>
  </header>
  <div class="page-container">
    @RenderBody()  
  </div>
</body>
</html>